<div class="col-md-3 pull-right">
  <h3 class="page-header"><span style="visibility: hidden;">CLI</span></h3>

  <p><a href="/docs/cli-v2.html">Learn more</a> about CLI v2.</p>
</div>

<div class="col-md-9">
  <h3 class="page-header">Latest CLI v2</h3>

  <ul class="list-group list-group-condensed curated-releases">
    <li class="list-group-item">
      <div class="col-md-12">
        <a href="https://s3.amazonaws.com/bosh-cli-artifacts/bosh-cli-2.0.44-darwin-amd64" class="release-name">bosh-cli-2.0.44-darwin-amd64</a>
        <span class="sha1">sha1: 6229e5ff11134763c05dda254c47cd24a40007ce</span>
      </div>
    </li>

    <li class="list-group-item">
      <div class="col-md-12">
        <a href="https://s3.amazonaws.com/bosh-cli-artifacts/bosh-cli-2.0.44-linux-amd64" class="release-name">bosh-cli-2.0.44-linux-amd64</a>
        <span class="sha1">sha1: 228daf994006d77fe484b0246085fde55c86b4f2</span>
      </div>
    </li>
  </ul>
</div>
