<div class="col-md-3 pull-right">
  <h3 class="page-header"><span style="visibility: hidden;">CLI</span></h3>

  <p><a href="/docs/cli-v2.html">Learn more</a> about CLI v2+.</p>
</div>

<div class="col-md-9">
  <h3 class="page-header">Latest CLI v2+</h3>

  <ul class="list-group list-group-condensed curated-releases">
    <li class="list-group-item">
      <div class="col-md-12">
        <a href="https://s3.amazonaws.com/bosh-cli-artifacts/bosh-cli-3.0.1-darwin-amd64" class="release-name">bosh-cli-3.0.1-darwin-amd64</a>
        <span class="sha1">sha1: d2fea20210a47b8c8f1f7dbb27ffb5808d47ce87</span>
      </div>
    </li>

    <li class="list-group-item">
      <div class="col-md-12">
        <a href="https://s3.amazonaws.com/bosh-cli-artifacts/bosh-cli-3.0.1-linux-amd64" class="release-name">bosh-cli-3.0.1-linux-amd64</a>
        <span class="sha1">sha1: d2fea20210a47b8c8f1f7dbb27ffb5808d47ce87</span>
      </div>
    </li>
  </ul>
</div>
