{{ template "releases/_about" }}

<div class="col-md-9">
  <h3 class="page-header">Community releases</h3>

  {{ if .UniqueSourceReleases }}
    <ul class="list-group list-group-condensed curated-releases">
      {{ range .UniqueSourceReleases }}
        <li class="list-group-item">
          <div class="col-md-8">
            <a href="{{ .URL }}" class="release-name">{{ .Source.Short }}</a>

            {{ if and .Source.FromGithub .Source.AvatarURL }}
              <a href="{{ .Source.GithubURL }}" title="Source on GitHub" class="github-link">
                <img src="{{ .Source.AvatarURL }}" class="small">
              </a>
            {{ end }}
          </div>

          {{ if .Releases }}
            <div class="col-md-4">
              {{ range .FirstXReleases 1 }}
                <a href="{{ .URL }}" class="curated-release-version">{{ .Version }}</a>
              {{ end }}

              {{ if .HasMoreThanXReleases 1 }}
                / <a href="{{ .URL }}">prev...</a>
              {{ end }}
            </div>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p class="empty">No releases</p>
  {{ end }}

  <p><a href="{{ .UniqueSourceReleases.AllURL }}">See all releases</a></p>
</div>
