<div class="col-md-3">
  <h3 class="page-header">What is BOSH?</h3>
  <p>
    <strong>BOSH</strong> is an open source tool chain for release engineering,
    deployment and lifecycle management of large scale distributed services.
  </p>
  <p>
    BOSH installs and updates software packages on large numbers of VMs
    over many IaaS providers with the absolute minimum of configuration changes.
  </p>

  <p><a href="/docs">See BOSH docs</a> or see:</p>

  <ul>
    <li>{{ template "shared/_github_link" }}</li>
    <li>{{ template "shared/_irc_link" }}</li>
    <li>{{ template "shared/_mailing_lists_link" "short" }}</li>
    <li>{{ template "shared/_tracker_link" }}</li>
  </ul>
</div>
