<div class="col-md-12 intro">
  <p>
    BOSH is an open source tool for release engineering, deployment, lifecycle management, and monitoring of distributed systems. <a href="/docs">See docs.</a>
  </p>
</div>
