<div class="col-md-12 intro">
  <p>
    BOSH is an open source tool chain for release engineering,
    deployment and lifecycle management of distributed services.
    <a href="/docs">See BOSH docs.</a>
  </p>
</div>
