{{ template "stemcells/_about" }}

<div class="col-md-9">
  <h3 class="page-header">Latest Stemcells</h3>

  {{ if .StemcellDistroGroups }}
    <ul class="list-group list-group-condensed stemcell-distro-groups">
      {{ range .StemcellDistroGroups }}
        <li class="list-group-item">
          <h4>{{ .Distro.Name }}</h4>

          {{ range .ByName }}
            {{ range $j, $a := .ByVersion }}
              <ul class="list-group list-group-condensed">
                {{ range $i, $s := .Stemcells }}
                  {{ range .Sources }}
                    <li class="list-group-item">
                      <div class="col-md-8">
                        <span class="stemcell-name">{{ .FriendlyName }}</span>
                      </div>
                      <div class="col-md-4">
                        <a href="{{ .URL }}">{{ $a.Version }}</a> /
                        <a href="{{ $s.AllVersionsURL }}">prev&hellip;</a>
                      </div>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}

        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p class="empty">No stemcells</p>
  {{ end }}

  <p><a href="{{ .StemcellDistroGroups.AllURL }}">See all stemcells</a></p>
</div>
