<header>
  <div class="container">
    <h2>{{ template "shared/logo" }}</h2>

    {{ template "shared/_header_menu" }}
  </div>
</header>

<main>
  <div class="container page-sep">
    <div class="row">
      {{ template "home/_intro" }}
    </div>
    <div class="row">
      {{ template "home/_curated_releases" . }}
      {{ template "home/_latest_stemcells" . }}
    </div>
  </div>
</main>
