*.DS_Store
*.sublime-project
*.sublime-workspace

out/

*.gem
*.tgz

*~

# Ignore binaries
bosh-hub
bosh-blobstore-s3

# Sub repos
docs-bosh
prod-conf/

# Ignore generated docs
templates/docs
docs-bosh-io/output
docs-bosh-io/final_app
docs-bosh-io/.bundle
docs-bosh-io/cached_shas.yml
