<header>
  <div class="container">
    <h2>{{ template "shared/logo" }}</h2>

    {{ template "shared/_header_menu" }}
  </div>
</header>

<main>
  <div class="container page-sep docs">
    <div class="row">
      <div class="col-md-12">
        <% if current_page.destination_path == "docs/index.html" %>

          <div class="toc">
            <ol class="breadcrumb">
              <li class="active">Table of Contents</li>
            </ol>
            <hr/>
            <%= yield %>
          </div>

        <% else %>

          <ol class="breadcrumb">
            <li><a href="/docs">Table of Contents</a></li>
            <li class="active"><%= current_page.data.title %></li>
          </ol>
          <%= quick_links %>
          <hr/>
          <%= yield %>

        <% end %>

        <hr/>
        <p><a {{ href .ContributeChangesURL }}>Contribute changes to this page</a></p>
      </div>
    </div>
  </div>
</main>
