<div class="col-md-3 pull-right">
  <h3 class="page-header">What is a Stemcell?</h3>

  <p>A stemcell is a versioned Operating System image wrapped with IaaS specific packaging.</p>

  <p>Typical stemcell contains bare minimum OS skeleton with few common utilities pre-installed, a BOSH Agent and few configuration files to make OS be securely configured by default.</p>

  <p><a href="/docs/stemcell.html">Learn more</a> about stemcells.</p>

  <p class="note">Ubuntu Lucid, CentOS 6.x, and Ruby agent based stemcells are deprecated.</p>
</div>
