<div class="col-md-3 pull-right">
  <h3 class="page-header">What is a Stemcell?</h3>

  <p>A stemcell is a versioned Operating System image wrapped with IaaS specific packaging.</p>

  <p>Typical stemcell contains bare minimum OS skeleton with few common utilities pre-installed, a BOSH Agent and few configuration files to make OS be securely configured by default.</p>

  <p>In addition to stemcells being generic, stemcells for one OS (e.g. all Ubuntu Trusty stemcells) are exactly the same for all infrastructures. This property of stemcells allows BOSH users to quickly and reliably switch between different infrastructures without worrying about the differences between OS images.</p>

  <p><a href="/docs/stemcell.html">Learn more</a> about stemcells.</p>

  <p><a href="?all=1">Show all versions.</a></p>

  <p class="note">Ubuntu Lucid and Ruby agent based stemcells were deprecated.</p>
</div>
