<div class="admonition warning">
  <p class="admonition-title">Deprecation Warning</p>
  <p>Stemcells based on Ubuntu Bionic (18.04) are no longer receiving security updates from Open Source Cloud Foundry due to the End of Standard Support. We strongly recommend switching to Ubuntu Jammy (22.04) based stemcells.</p>
</div>
