<p>
  BOSH produces official stemcells for
  popular operating systems and infrastructures. For infrastructures that
  support it, <a href="/docs/stemcell/#light-stemcells">light
  stemcells</a> are a more efficient way to reference stemcells that we have
  pre-uploaded and shared within the IaaS.
</p>
<p>
  For more information about stemcells, please see the following <a
  href="/docs/stemcell/">documentation</a>. For the supported stemcell lines
  and their support dates, see <a href="/docs/stemcell-lines/">Stemcell Lines &amp;
  Support</a>.
</p>
