<p>
  BOSH produces official <a href="/docs/stemcell.html">stemcells</a> for popular operating systems and infrastructures. For infrastructures that support it, <a href="/docs/build-stemcell/#light-stemcells">light stemcells</a> are a more efficient way to reference stemcells that we have pre-uploaded and shared within the IaaS.
</p>
