<div class="col-md-9">
  <h3 class="page-header">
    {{ if .Filter.ShowingAllVersions }}
      Stemcell <span>'{{ .Filter.Name }}'</span>
    {{ else }}
      Latest stemcells
    {{ end }}
  </h3>

  {{ if .DistroGroups }}
    <ul class="list-group list-group-condensed stemcell-distro-groups">
      {{ range .DistroGroups }}
        <li class="list-group-item">
          <h4 class="section">{{ .Distro.Name }}</h4>

          {{ range .ByName }}
            {{ template "stemcells/_distro_group" . }}  
          {{ end }}

        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p class="empty">No stemcells</p>
  {{ end }}
</div>
