<div class="col-md-9">
  <h3 class="page-header">
    {{ if .Filter.ShowingAllVersions }}
      Stemcell <span>'{{ .Filter.Name }}'</span>
    {{ else }}
      Latest stemcells
    {{ end }}
  </h3>

  {{ if .DistroGroups }}
    {{ if and .Filter.ShowingAllVersions ($s := .DistroGroups.FirstStemcell) }}
      <p>Upload latest version to your BOSH Director:</p>

      <pre class="terminal">
# Upload latest version, currently {{ $s.Version }}
$ bosh upload stemcell {{ $s.UserVisibleLatestDownloadURL }}

# Upload specific version
$ bosh upload stemcell {{ $s.UserVisibleDownloadURL }}
</pre>

      {{ template "shared/_upload_version_warning" }}

      <hr/>

      <p>Alternatively, <a href="{{ $s.UserVisibleDownloadURL }}">download</a> stemcell tarball locally:</p>

      <pre class="terminal">
# ...or download it directly using curl
$ curl -L -J -O {{ $s.UserVisibleDownloadURL }}

# or with wget...
$ wget --content-disposition {{ $s.UserVisibleDownloadURL }}
</pre>

      <h3 class="page-header">All versions</h3>
    {{ end }}

    <ul class="list-group list-group-condensed stemcell-distro-groups">
      {{ range .DistroGroups }}
        <li class="list-group-item">
          <h4 class="section">{{ .Distro.Name }}</h4>

          {{ range .ByName }}
            {{ template "stemcells/_distro_group" . }}
          {{ end }}

        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p class="empty">No stemcells</p>
  {{ end }}
</div>
