<div class="col-md-9">
  <h3 class="page-header">
    {{ if .Filter.ShowingAllVersions }}
      Stemcell <span>'{{ .Filter.Name }}'</span>
    {{ else }}
      Latest stemcells
    {{ end }}
  </h3>

  {{ if .DistroGroups }}
    {{ if .Filter.ShowingAllVersions }}
      <p>Upload latest version to your BOSH Director:</p>

      <pre class="terminal">
$ bosh upload stemcell https://bosh.io/d/stemcells/{{ .Filter.Name }}
</pre>

      {{ template "shared/_upload_version_warning" }}

      <hr/>

      <p>
        Alternatively,
        <a href="https://bosh.io/d/stemcells/{{ .Filter.Name }}">download</a>
        stemcell tarball locally:
      </p>

      <pre class="terminal">
# ...or download it directly using curl
$ curl -L -J -O https://bosh.io/d/stemcells/{{ .Filter.Name }}

# or with wget...
$ wget --content-disposition https://bosh.io/d/stemcells/{{ .Filter.Name }}
</pre>

      <h3 class="page-header">All versions</h3>
    {{ end }}

    <ul class="list-group list-group-condensed stemcell-distro-groups">
      {{ range .DistroGroups }}
        <li class="list-group-item">
          <h4 class="section">{{ .Distro.Name }}</h4>

          {{ range .ByName }}
            {{ template "stemcells/_distro_group" . }}
          {{ end }}

        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p class="empty">No stemcells</p>
  {{ end }}
</div>
