<div class="admonition warning">
  <p class="admonition-title">Beta Warning</p>
  <p>
    Stemcells based on Ubuntu Jammy (22.04) are currently in Beta.
    These releases are intended for release authors for early compatibility testing.
    Please take a look at the <a href="/docs/jammy-migration">Jammy migration docs</a>
  </p>
</div>
