<div class="admonition info">
  <p class="admonition-title">Notes</p>
  <p>
    Canonical's standard support for Ubuntu Jammy (22.04) ends in May 2027.
    Plan to move to <a href="/stemcells/#ubuntu-resolute">Ubuntu Resolute</a>.
  </p>
</div>
