<div class="admonition warning">
  <p class="admonition-title">Beta</p>
  <p>
    The Noble stemcell is currently in beta, and is for testing use only.<br>
    Please report any issues in the <a href="https://github.com/cloudfoundry/bosh-linux-stemcell-builder">stemcell builder repo</a>
  </p>
</div>
