<div class="admonition info">
  <p class="admonition-title">Notes</p>
  <p>
    Please take a look at the <a href="/docs/noble-migration">Noble migration docs</a>
    for guidance on how to migrate releases to Noble.
  </p>
</div>
