<div class="admonition warning">
  <p class="admonition-title">Alpha</p>
  <p>
    Ubuntu Resolute (26.04) stemcells are in alpha.
  <p>
    Resolute migration guides describe the changes from Noble:
  </p>
  <ul>
    <li>Upgrading a platform? See the <a href="/docs/resolute-migration/">guide for platform engineers</a>.</li>
    <li>Maintaining a BOSH release? See the <a href="/docs/resolute-release-migration/">guide for release authors</a>.</li>
  </ul>
</div>
