<div class="admonition warning">
  <p class="admonition-title">Deprecation Warning</p>
  <p>Due to some unexpected deprecation from Microsoft there are some azure stemcells (pre-2019.42) that are broken. Please reach out to BOSH team on slack (#bosh) for further help.</p>
</div>
