<div class="admonition info">
  <p class="admonition-title">Licensing Requirements</p>
  <p>Windows instance types will have additional costs associated with Microsoft licensing. Windows stemcell do not include actual Windows OS.</p>
</div>
