<article class="md-content__inner md-typeset">
  <h1>Stemcells</h1>

  <p>
    A stemcell is a versioned Operating System image with minor differences for IaaS-specific configurations (<a href="/docs/stemcell.html">learn more</a>).
  </p>

  {{ range .DistroGroups }}
    <h2 id="{{ .Distro.Name }}">{{ .Distro.Name }}</h2>

    {{ $os := ( index .Distro.OSMatches 0 ).OSName }}
    {{ if (eq $os "windows") }}
      <div class="admonition info">
        <p class="admonition-title">Licensing Requirements</p>
        <p>Windows instance types will have additional costs associated with Microsoft licensing. Windows stemcell do not include actual Windows OS.</p>
      </div>
    {{ end }}

    <table>
      <thead>
        <tr>
          <th>Infrastructure</th>
          <th>Version</th>
          <th>Download (SHA1)</th>
        </tr>
      </thead>
      <tbody>
        {{ range .ByName }}
          {{ range $j, $a := .ByVersion }}
            {{ range $i, $s := .Stemcells }}
              {{ range $x, $ss := .Sources }}
                <tr>
                  <td>{{ .InfrastructureName }}</td>
                  <td><a href="{{ $s.AllVersionsURL }}#v{{ $a.Version }}">{{ $a.Version }}</a></td>
                  <td>
                    <a href="{{ .UserVisibleDownloadURL }}">{{ .LinkName }}</a>
                    {{ if .SHA1 }}
                      (<code>{{ .SHA1 }}</code>)
                    {{ else }}
                      (<code>{{ .MD5 }} (MD5)</code>)
                    {{ end }}
                  </td>
                </tr>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </tbody>
    </table>
  {{ end }}
</article>
