{{ template "shared/_nav_tabs" "Stemcells" }}
<main class="md-main">
  <div class="md-main__inner md-grid" data-md-component="container">
    {{ template "shared/_nav_primary" .NavPrimary }}
    <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          <nav class="md-nav md-nav--secondary">
            <label class="md-nav__title" for="toc">Table of contents</label>
            <ul class="md-nav__list" data-md-scrollfix>
              <li class="md-nav__item">
                <a href="#ubuntu-noble" title="Ubuntu Noble" class="md-nav__link">Ubuntu Noble</a>
                <a href="#ubuntu-jammy" title="Ubuntu Jammy" class="md-nav__link">Ubuntu Jammy</a>
                <a href="#ubuntu-bionic" title="Ubuntu Bionic" class="md-nav__link">Ubuntu Bionic</a>
                <a href="#windows2019" title="Windows 2019" class="md-nav__link">Windows 2019</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="md-content">
      <article class="md-content__inner md-typeset">
        <h1>Stemcells</h1>

        {{ template "stemcells/_defined" . }}

        {{ range .DistroGroups }}
          <h2 id="{{ .Distro.NameName }}">{{ .Distro.Name }}<a class="headerlink" href="#{{ .Distro.NameName }}" title="Permanent link">&para;</a></h2>

          {{ $osVersion := ( index .Distro.OSMatches 0 ).OSVersion }}
          {{ if (eq $osVersion "bionic") }}
            {{ template "stemcells/_bionic_notice" . }}
          {{ end }}
          {{ if (eq $osVersion "jammy") }}
            {{ template "stemcells/_jammy_notice" . }}
          {{ end }}
          {{ if (eq $osVersion "noble") }}
            {{ template "stemcells/_noble_notice" . }}
          {{ end }}
          {{ $osName := ( index .Distro.OSMatches 0 ).OSName }}
          {{if (eq $osName "windows") }}
            {{ template "stemcells/_windows_notice" . }}
          {{ end }}
          {{if (eq $osVersion "2019") }}
            {{ template "stemcells/_windows_2019_notice" . }}
          {{ end }}

          <table>
            <thead>
              <tr>
                <th>Infrastructure</th>
                <th>Version</th>
                <th>Download (SHA1)</th>
              </tr>
            </thead>
            <tbody>
              {{ range .ByName }}
                {{ range $j, $a := .ByVersion }}
                  {{ range $i, $s := .Stemcells }}
                    {{ range $x, $ss := .Sources }}{{ if eq .Ignored false }}
                      <tr>
                        <td><a href="{{ $s.AllVersionsURL }}">{{ .InfrastructureName }}</a></td>
                        <td><a href="{{ $s.AllVersionsURL }}#v{{ $a.Version }}">{{ $a.Version }}</a></td>
                        <td>
                          <a href="{{ .UserVisibleDownloadURL }}">{{ .LinkName }}</a>
                          {{ if .SHA1 }}
                            <code>({{ .SHA1 }})</code>
                          {{ end }}
                        </td>
                      </tr>
                    {{ end }}{{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </tbody>
          </table>
        {{ end }}
      </article>
    </div>
  </div>
</main>
