<header>
  <div class="container">
    <h2>
      {{ template "shared/logo" }}
    </h2>

    {{ template "shared/_header_menu" }}
  </div>
</header>

<main>
  <div class="container page-sep">
    <div class="row">
      {{ template "stemcells/_about" }}

      {{ template "stemcells/_unique_versions" . }}
    </div>
  </div>
</main>
