<div class="md-main__inner md-grid" data-md-component="container">
  <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
    <div class="md-sidebar_scrollwrap">
      <div class="md-sidebar__inner">
        <nav class="md-nav md-nav--primary" data-md-level="0">
          <ul class="md-nav__list" data-md-scrollfix>
            <li class="md-nav__item md-nav__item--active md-nav__item--nested">
              <!-- removed checkbox+label? -->
              <nav class="md-nav" data-md-component="collapsible" data-md-level="1">
                <label class="md-nav__title">Stemcells</label>
                <ul class="md-nav__list" data-md-scrollfix>
                  <li class="md-nav__item md-nav__item--active">
                    <a href="/stemcells/" title="Latest Stemcells" class="md-nav__link md-nav__link--active">Latest Versions</a>
                  </li>
                  <li class="md-nav__item md-nav__item--nested">
                    <input class="md-toggle md-nav__toggle" data-md-toggle="nav-4-3" type="checkbox" id="nav-4-3" />
                    <label class="md-nav__link" for="nav-4-3">
                      Ubuntu Trusty
                    </label>
                    <nav class="md-nav" data-md-component="collapsible" data-md-level="2">
                      <label class="md-nav__title" for="nav-4-3">Ubuntu Trusty</label>
                      <ul class="md-nav__list" data-md-scrollfix>
                        <li class="md-nav__item"><a href="/stemcells/bosh-aws-xen-hvm-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">Amazon Web Services</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-google-kvm-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">Google Cloud Platform</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-azure-hyperv-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">Microsoft Azure</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-openstack-kvm-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">OpenStack</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-softlayer-xen-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">SoftLayer</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-vcloud-esxi-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">VMware vCloud</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-vsphere-esxi-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">VMware vSphere</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-warden-boshlite-ubuntu-trusty-go_agent" title="Usage" class="md-nav__link">Warden BOSH Lite</a></li>
                      </ul>
                    </nav>
                  </li>
                  <li class="md-nav__item md-nav__item--nested">
                    <input class="md-toggle md-nav__toggle" data-md-toggle="nav-4-4" type="checkbox" id="nav-4-4" />
                    <label class="md-nav__link" for="nav-4-4">
                      Windows 2016
                    </label>
                    <nav class="md-nav" data-md-component="collapsible" data-md-level="2">
                      <label class="md-nav__title" for="nav-4-4">Windows 2012R2</label>
                      <ul class="md-nav__list" data-md-scrollfix>
                        <li class="md-nav__item"><a href="/stemcells/bosh-google-kvm-windows2012R2-go_agent" title="Usage" class="md-nav__link">Google Cloud Platform</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-azure-hyperv-windows2012R2-go_agent" title="Usage" class="md-nav__link">Microsoft Azure</a></li>
                      </ul>
                    </nav>
                  </li>
                  <li class="md-nav__item md-nav__item--nested">
                    <input class="md-toggle md-nav__toggle" data-md-toggle="nav-4-4" type="checkbox" id="nav-4-4" />
                    <label class="md-nav__link" for="nav-4-4">
                      Windows 2012R2
                    </label>
                    <nav class="md-nav" data-md-component="collapsible" data-md-level="2">
                      <label class="md-nav__title" for="nav-4-4">Windows 2012R2</label>
                      <ul class="md-nav__list" data-md-scrollfix>
                        <li class="md-nav__item"><a href="/stemcells/bosh-aws-xen-hvm-windows2016-go_agent" title="Usage" class="md-nav__link">Amazon Web Services</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-google-kvm-windows2016-go_agent" title="Usage" class="md-nav__link">Google Cloud Platform</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-azure-hyperv-windows2016-go_agent" title="Usage" class="md-nav__link">Microsoft Azure</a></li>
                      </ul>
                    </nav>
                  </li>
                  <li class="md-nav__item md-nav__item--nested">
                    <input class="md-toggle md-nav__toggle" data-md-toggle="nav-4-5" type="checkbox" id="nav-4-5" />
                    <label class="md-nav__link" for="nav-4-5">
                      CentOS 7.x
                    </label>
                    <nav class="md-nav" data-md-component="collapsible" data-md-level="2">
                      <label class="md-nav__title" for="nav-4-5">CentOS 7.x</label>
                      <ul class="md-nav__list" data-md-scrollfix>
                        <li class="md-nav__item"><a href="/stemcells/bosh-aws-xen-hvm-centos-7-go_agent" title="Usage" class="md-nav__link">Amazon Web Services</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-google-kvm-centos-7-go_agent" title="Usage" class="md-nav__link">Google Cloud Platform</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-azure-hyperv-centos-7-go_agent" title="Usage" class="md-nav__link">Microsoft Azure</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-openstack-kvm-centos-7-go_agent" title="Usage" class="md-nav__link">OpenStack</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-softlayer-xen-centos-7-go_agent" title="Usage" class="md-nav__link">SoftLayer</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-vcloud-esxi-centos-7-go_agent" title="Usage" class="md-nav__link">VMware vCloud</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-vsphere-esxi-centos-7-go_agent" title="Usage" class="md-nav__link">VMware vSphere</a></li>
                        <li class="md-nav__item"><a href="/stemcells/bosh-warden-boshlite-centos-7-go_agent" title="Usage" class="md-nav__link">Warden BOSH Lite</a></li>
                      </ul>
                    </nav>
                  </li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        <nav class="md-nav md-nav--secondary">
          <label class="md-nav__title" for="toc">Table of contents</label>
          <ul class="md-nav__list" data-md-scrollfix="">
            <li class="md-nav__item">
              <a href="#azs" title="AZs" class="md-nav__link">Ubuntu Trusty</a>
              <a href="#azs" title="AZs" class="md-nav__link">Windows 2016</a>
              <a href="#azs" title="AZs" class="md-nav__link">Windows 2012R2</a>
              <a href="#azs" title="AZs" class="md-nav__link">CentOS 7.x</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="md-content">
    {{ if and .Filter.ShowingAllVersions ($s := .DistroGroups.FirstStemcell) }}
      {{ template "stemcells/single" . }}
    {{ else }}
      {{ template "stemcells/all" . }}
    {{ end }}
  </div>
</div>
