{{ $s := .DistroGroups.FirstStemcell }}
<article class="md-content__inner md-typeset">
  <h1>{{ .Filter.Name }}</h1>

  <p>
    A stemcell is a versioned Operating System image with minor differences for IaaS-specific configurations (<a href="/docs/stemcell.html">learn more</a>).
  </p>

  <p>You can upload the latest version to your director with the <code>upload-stemcell</code> command:</p>

  <div class="codehilite"><pre>bosh upload-stemcell --sha1 {{ $s.SHA1 }} \
  <a href="{{ $s.UserVisibleDownloadURL }}">{{ $s.UserVisibleDownloadURL }}</a></pre></div>


  {{ if (eq $s.OSName "windows") }}
    <div class="admonition info">
      <p class="admonition-title">Licensing Requirements</p>
      <p>Windows instance types will have additional costs associated with Microsoft licensing. Windows stemcell do not include actual Windows OS.</p>
    </div>
  {{ end }}

  {{ range .DistroGroups }}
    <h2 id="version-history">Version History<a class="headerlink" href="#version-history" title="Permanent link">&para;</a></h2>

    {{ range .ByName }}
      {{ range $j, $a := .ByVersion }}
        <h3 id="v{{ $a.Version }}">v{{ $a.Version }}<a class="headerlink" href="#v{{ $a.Version }}" title="Permanent link">&para;</a></h3>

        {{ range $i, $s := .Stemcells }}
          {{ if $s.NotesInMarkdown }}
            <div class="release-notes">{{ $s.NotesInMarkdown }}</div>
          {{ end }}

          <table>
              <tr>
                <th>Download</th>
                <th>File Size</th>
                <th>Checksum (SHA1)</th>
              </tr>
            </thead>
            <tbody>
              {{ range $x, $ss := .Sources }}
                <tr>
                  <td><a href="{{ .UserVisibleDownloadURL }}">{{ .LinkName }}</a></td>
                  <td>{{ .FormattedSize }}</td>
                  <td>
                    {{ if .SHA1 }}
                      <code class="codehilite">{{ .SHA1 }}</code>
                    {{ else }}
                      n/a
                    {{ end }}
                  </td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</article>
