{{ template "shared/_nav_tabs" "Stemcells" }}
<main class="md-main">
  <div class="md-main__inner md-grid" data-md-component="container">
    {{ template "shared/_nav_primary" .NavPrimary }}
    <div class="md-sidebar md-sidebar--secondary" data-md-component="toc"></div>
    <div class="md-content">{{ $s := .DistroGroups.FirstStemcell }}
      <article class="md-content__inner md-typeset">
        <h1>{{ .Filter.Name }}</h1>

        {{ template "stemcells/_defined" . }}

        <p>You can upload the latest version to your director with the <code>upload-stemcell</code> command:</p>

        <div class="codehilite"><pre>bosh upload-stemcell --sha1 {{ $s.SHA1 }} \
  <a href="{{ $s.UserVisibleDownloadURL }}" style="color:inherit;">{{ $s.UserVisibleDownloadURL }}</a></pre></div>

        <p>And reference this stemcell in your deployment manifest from the <code>stemcells</code> section:</p>

        <div class="codehilite"><pre>- alias: "default"
  os: "{{ $s.OSName }}{{ if ( ne $s.OSName "windows" ) }}-{{ end }}{{ $s.OSVersion }}"
  version: "{{ $s.Version }}"
</pre></div>

        {{ if (eq $s.OSName "windows") }}
          {{ template "stemcells/_windows_notice" . }}
        {{ end }}

        {{ range .DistroGroups }}
          <h2 id="version-history">Version History<a class="headerlink" href="#version-history" title="Permanent link">&para;</a></h2>

          {{ range .ByName }}
            {{ range $j, $a := .ByVersion }}
              <h3 id="v{{ $a.Version }}">v{{ $a.Version }}<a class="headerlink" href="#v{{ $a.Version }}" title="Permanent link">&para;</a></h3>

              {{ range $i, $s := .Stemcells }}
                {{ if $s.NotesInMarkdown }}
                  <blockquote class="release-notes">{{ $s.NotesInMarkdown }}</blockquote>
                {{ end }}

                <ul>
                  {{ range $x, $ss := .Sources }}
                    <li>
                      <a href="{{ .UserVisibleDownloadURL }}" title="{{ .FormattedSize }}">{{ .LinkName }}</a>
                      {{ if .SHA1 }}
                        &ndash;
                        <code class="codehilite">sha1:{{ .SHA1 }}</code>
                      {{ end }}
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </article>
    </div>
  </div>
</main>
