<div class="col-md-3 pull-right">
  <h3 class="page-header">What is a Release?</h3>

  <p>A release is a versioned collection of configuration properties, configuration templates, start up scripts, source code, binary artifacts, and anything else required to build and deploy software in a reproducible way.</p>

  <p><a href="/docs/release.html">Learn more</a> about releases.</p>

  <p class="note">To submit your release for inclusion, ping us in {{ template "shared/_chat_link" }}.</p>
</div>
