<article class="md-content__inner md-typeset">
  <h1>Releases</h1>

  <p>A release is a versioned collection of configuration properties, configuration templates, start up scripts, source code, binary artifacts, and anything else required to build and deploy software in a reproducible way (<a href="/docs/release.html">learn more</a>).</p>

  <h2 id="community-releases">Community Releases<a class="headerlink" href="#community-releases" title="Permanent link">&para;</a></h2>

  {{ if .UniqueSources }}
    <ul>
      {{ range .UniqueSources }}
        <li class="list-group-item">
          <a href="{{ .URL }}">
            {{ if .AvatarURL }}
              <img src="{{ .AvatarURL }}" style="width:18px;vertical-align:text-bottom;">
            {{ end }}
            {{ .Short }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>No releases found</p>
  {{ end }}

  <h2 id="submit-a-release">Submit a Release<a class="headerlink" href="#submit-a-release" title="Permanent link">&para;</a></h2>

  <p>Are you the maintainer of a community release and interested in seeing it listed here? Take a look at our <a href="https://github.com/bosh-io/releases">bosh-io/releases</a> repository for details and to send us a pull request with your release.</p>
</article>
