{{ template "shared/_nav_tabs" "Releases" }}
<main class="md-main">
  <div class="md-main__inner md-grid" data-md-component="container">
    {{ template "shared/_nav_primary" .NavPrimary }}
    <div class="md-content">
      <article class="md-content__inner md-typeset">
        <h1>{{ .Name }}/{{ .Version }}</h1>

        <p>
          The following represents dependencies between jobs and packages. See below for more details.
        </p>

        {{ if .Graph }}
          <div>{{ .Graph.SVG }}</div>
        {{ else }}
          <p class="empty">No packages</p>
        {{ end }}

        <p>
          Legend:
        </p>
        
        <ul>
          <li>Solid nodes represent jobs</li>
          <li>Solid arrows represent jobs' runtime package dependencies</li>
          <li>Text nodes represent packages</li>
          <li>Dotted arrows represent packages' compilation dependencies</li>
        </ul>
      </article>
    </div>
  </div>
</main>
