<header>
  <div class="container">
    <h2>
      {{ template "shared/logo" }}

      <span>release:</span>
      {{ .Source }}
    </h2>
  </div>
</header>

<main>
  <div class="container page-sep">
    <div class="row">
      <div class="col-md-12">
        {{ if .Releases }}
          <h3 class="page-header">Release <span>'{{ with index .Releases 0 }}{{ .Name }}{{ end }}'</span></h3>
        {{ else }}
          <h3 class="page-header">Release <span>'{{ .Source.Short }}'</span></h3>
        {{ end }}

        {{ if .Source.FromGithub }}
          <p>Github source: <a href="{{ .Source.GithubURL }}">master</a> branch</p>
        {{ end }}

        <h3 class="page-header">Versions</h3>

        {{ if .Releases }}
          <ul class="list-group list-group-condensed">

            {{ range .Releases }}
              <li class="list-group-item">
                <p>
                  <a href="{{ .DownloadURL }}">{{ .Version }}</a> &mdash;
                  <a href="{{ .URL }}">Details</a> /
                  <a href="{{ .DownloadURL }}">Download</a>
                  <span class="sha1">sha1: {{ .TarballSHA1 }}</span>
                </p>

                {{ if .IsCPI }}
                  <pre>
releases:
- name: {{ .Name }}
  url: {{ .UserVisibleDownloadURL }}
  sha1: {{ .TarballSHA1 }}
</pre>
                {{ else }}
                  <pre class="terminal">{{ if .IsLatest }}
# Upload latest version, currently {{ .Version }}
$ bosh upload release {{ .UserVisibleLatestDownloadURL }}

# Upload specific version{{ end }}
$ bosh upload release {{ .UserVisibleDownloadURL }}
</pre>

                  {{ if .IsLatest }}
                    {{ template "shared/_upload_version_warning" }}
                  {{ end }}
                {{ end }}
              </li>
            {{ end }}
          </ul>
        {{ else }}
          <p class="empty">No release versions</p>
        {{ end }}
      </div>
    </div>
  </div>
</main>
