<header>
  <div class="container">
    <h2>
      {{ template "shared/logo" }}

      <span>release:</span>
      <a href="{{ .AllVersionsURL }}">{{ .Source }}</a>

      <span>/</span>
      {{ .Version }}
    </h2>
  </div>
</header>

<main>
  <div class="container page-sep">
    <div class="row">
      <div class="col-md-6">
        <h3 class="page-header">Release <span>'{{ .Name }} {{ .Version }}'</span></h3>

        {{ if .IsCPI }}
          <p>This is a CPI release. It's meant to be colocated with the Director job.</p>
        {{ end }}

        {{ if .HasGithubURL }}
          <p>
            Github source:
            <a href="{{ .GithubURL }}"><code>{{ .CommitHash }}</code></a> or
            <a href="{{ .GithubURLOnMaster }}">master</a> branch
          </p>
        {{ end }}
      </div>

      {{ if .NotesInMarkdown }}
        <div class="col-md-6">
          <h3 class="page-header">Notes</h3>
          <div class="release-notes">{{ .NotesInMarkdown }}</div>
        </div>
      {{ end }}
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header">Usage</h3>

        {{ if .IsCPI }}
          <p>Reference CPI release in the deployment manifest used with <code>bosh-init</code>:</p>

          <pre>
releases:
- name: {{ .Name }}
  version: "{{ .Version }}"
  url: {{ .UserVisibleDownloadURL }}
  sha1: {{ .TarballSHA1 }}
</pre>

          <p>Finally add needed deployment jobs and specify values for required properties.</p>

          {{ $v := .CPIDocsLink }}

          {{ if $v }}<p>See {{ $v }} for a step by step tutorial.</p>{{ end }}
        {{ else if .IsBOSH }}
          <p>Reference BOSH release in the deployment manifest used with <code>bosh-init</code>:</p>

          <pre>
releases:
- name: {{ .Name }}
  version: "{{ .Version }}"
  url: {{ .UserVisibleDownloadURL }}
  sha1: {{ .TarballSHA1 }}
</pre>

          <p>Finally add needed deployment jobs and specify values for required properties.</p>
        {{ else }}
          <p>Upload this release version to the Director:</p>

          <pre class="terminal">
$ bosh upload-release {{ .UserVisibleDownloadURL }} --sha1 {{ .TarballSHA1 }}</pre>

          <p>Modify deployment manifest to use this release in addition to any other used releases:</p>

          <pre class="prettyprint">
releases:
- name: {{ .Name }}
  version: "{{ .Version }}"
</pre>

          <p>Finally add needed deployment jobs and specify values for required properties.</p>
        {{ end }}

        <h3 class="page-header">Download</h3>

        <p>
          Optionally <a href="{{ .DownloadURL }}">download</a>
          <span class="sha1">sha1: {{ .TarballSHA1 }}</span>
          release tarball locally:
        </p>

        <pre class="terminal">
# ...or download it directly using curl
$ curl -L -J -O {{ .UserVisibleDownloadURL }}

# or with wget...
$ wget --content-disposition {{ .UserVisibleDownloadURL }}
</pre>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h3 class="page-header">Jobs</h3>

        {{ if .Jobs }}
          <ul class="list-group list-group-condensed">
            {{ range .Jobs }}
              <li class="list-group-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        {{ else }}
          <p class="empty">No templates</p>
        {{ end }}
      </div>

      <div class="col-md-3">
        <h3 class="page-header">Packages</h3>

        {{ if .Packages }}
          <ul class="list-group list-group-condensed">
            {{ range .Packages }}
              <li class="list-group-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        {{ else }}
          <p class="empty">No packages</p>
        {{ end }}
      </div>
    </div>
  </div>
</main>
