{{ template "shared/_nav_tabs" "Releases" }}
<main class="md-main">
  <div class="md-main__inner md-grid" data-md-component="container">
    <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          <nav class="md-nav md-nav--primary" data-md-level="0">
            <ul class="md-nav__list" data-md-scrollfix>
              <li class="md-nav__item md-nav__item--active md-nav__item--nested">
                <nav class="md-nav" data-md-component="collapsible" data-md-level="1">
                  <label class="md-nav__title">
                    Releases
                  </label>
                  <ul class="md-nav__list" data-md-scrollfix>
                    <li class="md-nav__item">
                      <a href="/releases/" title="Browse Releases" class="md-nav__link">
                        Browse Releases
                      </a>
                    </li>
                  </ul>
                </nav>
              </li>
              <li class="md-nav__item md-nav__item--active md-nav__item--nested">
                <nav class="md-nav" data-md-component="collapsible" data-md-level="1">
                  <label class="md-nav__title">
                    <br>
                    {{ if .Releases }}
                      {{ with index .Releases 0 }}{{ .Name }}{{ end }}
                    {{ else }}
                      {{ .Source.Short }}
                    {{ end }}
                  </label>
                  <ul class="md-nav__list" data-md-scrollfix>
                    <li class="md-nav__item md-nav__item--active">
                      <a href="{{ .URL }}" title="All Versions" class="md-nav__link md-nav__link--active">All Versions</a>
                    </li>
                    </li>
                  </ul>
                </nav>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          <nav class="md-nav md-nav--secondary">
            <label class="md-nav__title" for="toc">Table of contents</label>
            <ul class="md-nav__list" data-md-scrollfix>
              <li class="md-nav__item">
                <a href="#overview" title="Overview" class="md-nav__link">Overview</a>
              </li>
              <li class="md-nav__item">
                <a href="#latest" title="Latest Version" class="md-nav__link">Latest Version</a>
              </li>
              <li class="md-nav__item">
                <a href="#versions" title="All Versions" class="md-nav__link">All Versions</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="md-content">
      <article class="md-content__inner md-typeset">
        {{ if .Releases }}
          <h1>{{ with index .Releases 0 }}{{ .Name }}{{ end }} Release</span></h1>
        {{ else }}
          <h1>{{ .Source.Short }} Release</h1>
        {{ end }}

        {{ if .Source.FromGithub }}
          You can find this release on GitHub at <a href="{{ .Source.GithubURL }}">{{ .Source.Short }}</a>.
        {{ end }}

        {{ if .Releases }}{{ with index .Releases 0 }}
          <h2 id="latest">Latest Version (v{{ .Version }})<a class="headerlink" href="#latest" title="Permanent link">&para;</a></h2>

          {{ template "releases/_usage" . }}
        {{ end }}{{ end }}


        <h2 id="versions">All Versions<a class="headerlink" href="#older" title="Permanent link">&para;</a></h2>

        {{ if .Releases }}
          {{ range .Releases }}
            <h3 id="v{{ .Version }}">v{{ .Version }}<a class="headerlink" href="#v{{ .Version }}" title="Permanent link">&para;</a></h3>

            <ul>
              <li><a href="{{ .URL }}">See Usage Details</a></li>
              <li>
                <a href="{{ .DownloadURL }}">Release Tarball</a>
                &ndash;
                  {{ if and .TarballSHA1 .TarballSHA256 }}
                    <button onclick="toggleHash(this)">SHA256 ⇋</button>
                  {{ end }}
                  <br>
                  {{ with .TarballSHA1 }}
                    <code class="codehilite hash sha1">sha1:{{ . }}</code>
                  {{ end }}
                  {{ with .TarballSHA256 }}
                    <code class="codehilite hash sha256" style="display: none">sha1: sha256:{{ . }}</code>
                  {{ end }}
              </li>
            </ul>
          {{ end }}
        {{ else }}
          <p class="empty">No release versions</p>
        {{ end }}
      </article>
      <script>
          function toggleHash(button) {
            const li = button.closest('li');
            const sha1 = li.querySelector('.sha1');
            const sha256 = li.querySelector('.sha256');

            if (sha1 && sha256) {
              const showingSHA1 = sha1.style.display !== 'none';
              sha1.style.display = showingSHA1 ? 'none' : 'inline';
              sha256.style.display = showingSHA1 ? 'inline' : 'none';
              button.textContent = `${showingSHA1 ? 'SHA1 ⇋' : 'SHA256 ⇋'}`;
            }
          }
      </script>
    </div>
  </div>
</main>
