{{ template "shared/_nav_tabs" "Error" }}
<main class="md-main">
  <div class="md-main__inner md-grid" data-md-component="container">
    <div class="md-content">
      <article class="md-content__inner md-typeset">
        <h1>Error</h1>

        <p>
          Sorry, an unexpected error occurred. The following may be helpful to identify the problem:
        </p>

        <div class="codehilite"><pre>{{ . }}</pre></div>
      </article>
    </div>
  </div>
</main>
