<header>
  <div class="container">
    <h2>
      {{ template "shared/logo" }}
    </h2>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header">Error</h3>

        <p>{{ . }}</p>
      </div>
    </div>
  </div>
</main>
