<html>
  <head>
    <title>bosh</title>

    <link href="{{ cssPath "bootstrap.min.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "base.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "docs.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "syntax.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "releases.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "job.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "stemcells.css" }}" media="all" rel="stylesheet" type="text/css" />

    <script src="{{ jsPath "jquery.js" }}"></script>
    <script src="{{ jsPath "bootstrap.min.js" }}"></script>
    <script src="{{ jsPath "docs.js" }}"></script>
    <script src="{{ jsPath "job.js" }}"></script>

    <link rel="shortcut icon" href="{{ imgPath "favicon.ico" }}" type="image/x-icon">
    <link rel="icon" href="{{ imgPath "favicon.ico" }}" type="image/x-icon">
  </head>

  <body data-spy="scroll" data-target="#sidebar">
    {{ yield }}

    {{ template "shared/footer" }}

    {{ template "shared/_google_analytics" }}
  </body>
</html>
