<h3 class="page-header">Configuration Properties</h3>

<p>
  Replace <code>???</code>s with appropriate values.
  Following example does not account for release job
  collocation or for optional/conflicting properties.
</p>

<p>
  <a href="#" class="hide-properties-with-defaults btn btn-info btn-xs">
    <span class="h">Hide</span><span class="s">Show</span> properties with defaults
  </a>
  <a href="#" class="hide-property-descriptions btn btn-info btn-xs">
    <span class="h">Hide</span><span class="s">Show</span> property descriptions
  </a>
</p>

<ul class="property-items">
  {{ range .PropertyItems }}
    <li class="{{ if not .MissingValues }}all-values-present{{ end }} indent-{{ .Indent }}">
      <div class="key">
        {{ if .Property }}
          {{ if .Property.HasDefault }}
            <a id="{{ .Anchor }}" {{ href .PoundAnchor }}>{{ .Key }}: {{ .DefaultAsYAML }}</a>
          {{ else }}
            <a id="{{ .Anchor }}" {{ href .PoundAnchor }}>{{ .Key }}: <span class="placeholder">???</span></a>
          {{ end }}
        {{ else }}
          <a id="{{ .Anchor }}" {{ href .PoundAnchor }}>{{ .Key }}:</a>
        {{ end }}
        <br/>
      </div>

      {{ if .Property }}
        <div class="description {{ if .Property }}{{ if .Property.Examples }}with-example{{ end }}{{ end }}">
          {{ if .Property.Description }}<p>{{ .Property.Description }}</p>{{ end }}

          {{ if .Property.Examples }}
            <h4>Example{{ if gt (len .Property.Examples) 1 }}s{{ end }}</h4>
            {{ range .Property.Examples }}
              {{ if .Description }}<p class="example-description">{{ .Description }}</p>{{ end }}
              <pre class="example prettyprint">{{ .ValueAsYAML }}</pre>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </li>
  {{ end }}
</ul>
