{{ range . }}
  <h{{ add .Indent 3 }} id="{{ .Anchor }}"><code>{{ .Key }}</code><a class="headerlink" href="#{{ .Anchor }}" title="Permanent link">&para;</a></h{{ add .Indent 3 }}>

  {{ if .Property }}
    {{ if .Property.Description }}
      {{ .Property.DescriptionInMarkdown }}
    {{ end }}

    <dl>
      {{ if .Property.HasDefault }}
        <dt>Default</dt>
        <dd><div class="codehilite"><pre>{{ .DefaultAsYAML }}</pre></div></dd>
      {{ end }}
      {{ if .Property.Examples }}
        <dt>Example</dt>
        {{ range .Property.Examples }}
          <dd>
            {{ if .Description }}{{ .DescriptionInMarkdown }}{{ end }}
            <div class="codehilite"><pre>{{ .ValueAsYAML }}</pre></div>
          </dd>
        {{ end }}
      {{ end }}
    </dl>
  {{ end }}

  {{ if .Children }}
    <blockquote>
      {{ template "jobs/_properties" .Children }}
    </blockquote>
  {{ end }}
{{ end }}
