<div class="row">
  <div class="col-md-6">
    <h3 class="page-header">Templates</h3>

    <p class="vm-location">
      Templates are rendered and placed onto corresponding
      instances during the deployment process. This job's templates
      will be placed into <code>/var/vcap/jobs/{{ .Name }}/</code> directory.
    </p>

    {{ if .Templates }}
      <ul>
        {{ range .BinTemplates }}
          <li>{{ .DstPathEnd }} ({{ .SrcPathEnd }})</li>
        {{ end }}
      </ul>

      <ul>
        {{ range .ConfigTemplates }}
          <li>{{ .DstPathEnd }} ({{ .SrcPathEnd }})</li>
        {{ end }}
      </ul>

      <ul>
        {{ range .OtherTemplates }}
          <li>{{ .DstPathEnd }} ({{ .SrcPathEnd }})</li>
        {{ end }}
      </ul>
    {{ else }}
      <p class="empty">No templates</p>
    {{ end }}
  </div>

  <div class="col-md-6">
    <h3 class="page-header">Runtime package dependencies</h3>

    <p>
      Packages are compiled and placed onto corresponding
      instances during the deployment process. Packages will be
      placed into <code>/var/vcap/packages/</code> directory.
    </p>

    {{ if .Packages }}
      <ul class="list-group list-group-condensed">
        {{ range .Packages }}
          <li class="list-group-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    {{ else }}
      <p class="empty">No packages</p>
    {{ end }}
  </div>
</div>
