<div class="md-main__inner md-grid" data-md-component="container">
  {{ template "releases/_nav_version" .Release }}

  <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        <nav class="md-nav md-nav--secondary">
          <label class="md-nav__title" for="toc">Table of contents</label>
          <ul class="md-nav__list" data-md-scrollfix="">
            <li class="md-nav__item">
              <a href="#overview" title="Overview" class="md-nav__link">Overview</a>
            </li>
            <li class="md-nav__item">
              <a href="#properties" title="Properties" class="md-nav__link">Properties</a>
              {{ if .PropertyItems }}
                <nav class="md-nav">
                  <ul class="md-nav__list">
                    {{ template "jobs/_nav_properties" .PropertyItems }}
                  </ul>
                </nav>
              {{ end }}
            </li>
            {{ if .Templates }}
              <li class="md-nav__item">
                <a href="#templates" title="Templates" class="md-nav__link">Templates</a>
              </li>
            {{ end }}
            {{ if .Packages }}
              <li class="md-nav__item">
                <a href="#packages" title="Packages" class="md-nav__link">Packages</a>
              </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="md-content">
    <article class="md-content__inner md-typeset">
      <div class="bosh-schema">
        <h1>{{ .Name }} job <br><small>from {{ .Release.Name }}/{{ .Release.Version }}</small></h1>

        {{ if .Description }}
          <p>{{ .Description }}</p>
        {{ end }}

        {{ if .HasGithubURL }}
          <p>
            Github source:
            <a href="{{ .GithubURL }}"><code>{{ .Release.CommitHash }}</code></a> or
            <a href="{{ .GithubURLOnMaster }}">master</a> branch
          </p>
        {{ end }}

        <h2 id="properties">Properties<a class="headerlink" href="#properties" title="Permanent link">&para;</a></h2>

        {{ template "jobs/_properties" .PropertyItems }}

        {{ template "jobs/_templates_and_pkgs" . }}
      </article>
    </article>
  </div>
</main>
