<header>
  <div class="container">
    <h2 class="logo">
      {{ template "shared/logo" }}
    </h2>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header">Release import errors</h3>

        {{ template "shared/misc_menu" . }}

        {{ if .ImportErrs }}
          <ul class="list-group list-group-condensed">
            {{ range .ImportErrs }}
              <li class="list-group-item">
                {{ .ImportRec.RelSource }} v={{ .ImportRec.Version }}

                <form action="{{ $.PrivateToken }}/release_import_errs" method="post" class="remove-form pull-right">
                  <input type="hidden" name="relSource" value="{{ .ImportRec.RelSource }}" />
                  <input type="hidden" name="version" value="{{ .ImportRec.Version }}" />
                  <button type="submit" class="btn btn-danger btn-xs">Remove</button>
                </form>

                <pre class="err-log">{{ .Err }}</pre>
              </li>
            {{ end }}
          </ul>

          <p class="note">{{ .ImportErrs | len }} import error(s)</p>
        {{ else }}
          <p class="empty">No import errors</p>
        {{ end }}
      </div>
    </div>
  </div>
</main>
