<ul class="menu">
  <li>{{ template "shared/_tutorial_link" }}</li>
  <li>{{ template "shared/_docs_link" "short" }}</li>
  <li>{{ template "shared/_github_link" "short" }}</li>
  <li>{{ template "shared/_chat_link" }}</li>
</ul>
