<ul class="menu">
  <li class="tutorial">{{ template "shared/_tutorial_link" }}</li>
  <li>{{ template "shared/_docs_link" "short" }}</li>
  <li>{{ template "shared/_github_link" "short" }}</li>
  <li>{{ template "shared/_irc_link" }}</li>
  <li>{{ template "shared/_mailing_lists_link" }}</li>
  <li>{{ template "shared/_tracker_link" }}</li>
</ul>
