{{ if .Children }}
  <li class="md-nav__item{{ if .Active }} md-nav__item--active{{ end }}{{ if .IsSection }} md-nav__item--section{{ end }}{{ if .IsPersistent }} md-nav__item--bosh-persistent{{ end }} md-nav__item--nested">
    <input class="md-toggle md-nav__toggle" data-md-toggle="{{ .Ref }}" type="checkbox" id="{{ .Ref }}"{{ if .Active }} checked{{ end }} />
    <label class="md-nav__link" for="{{ .Ref }}">
      <span class="md-ellipsis">{{ .Title }}</span>
      <span class="md-nav__icon md-icon"></span>
    </label>
    <nav class="md-nav" data-md-component="collapsible" data-md-level="{{ .Depth }}">
      <label class="md-nav__title" for="{{ .Ref }}">
        <span class="md-nav__icon md-icon"></span>
        {{ .Title }}
      </label>
      <ul class="md-nav__list" data-md-scrollfix>
        {{ range .Children }}
          {{ template "shared/_nav_item" . }}
        {{ end }}
      </ul>
    </nav>
  </li>
{{ else }}
  <li class="md-nav__item{{ if .Active }} md-nav__item--active{{ end }}">
    <a href="{{ .URL }}" title="{{ .Title }}" class="md-nav__link{{ if .Active }} md-nav__link--active{{ end }}">
      {{ .Title }}
    </a>
  </li>
{{ end }}
