<!--
<footer>
  <div class="container">
    <h3 class="page-header">Community</h3>
    <ul>
      <li>{{ template "shared/_docs_link" }}</li>
      <li>{{ template "shared/_github_link" }}</li>
      <li>{{ template "shared/_chat_link" }}</li>
      <li>{{ template "shared/_mailing_lists_link" }}</li>
      <li>{{ template "shared/_tracker_link" }}</li>
      <li>{{ template "shared/_sec_link" }}</li>
    </ul>
  </div>

  <p class="clam"><a href="/"><img src="{{ imgPath "clam.png" }}" /></a></p>
</footer>
-->
