<menu>
  <ul>
    <li><a href="/release_watchers">Release watchers</a></li>
    <li><a href="/release_imports">Release imports</a></li>
    <li><a href="/release_import_errs">Release import errors</a></li>
  </ul>
</menu>
